/*
	New Perspectives on HTML and CSS
	Tutorial 4
	Case Problem 2

	Pizza Style Sheet
	Author: Rebecca Scott 	
	Date:   2016-11-06

	Filename:         pizza.css
	Supporting Files: 
*/

header, section, aside, footer, nav {
	display: block;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: red;
	font-family: Verdana, Geneva, sans-serif;
}

#container {
	width: 1000px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background: white url(redbar.png) repeat-y left top;
}

header {
	background-color: white;
	height: 100px;
}

nav.horizontal {
	background-color: white;
	height: 70px; 
	width: 100%;
}

nav.horizontal li {
	background-color: white;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	width: 180px; 
	display: block; 
	float: left; 
	margin-left: 5px;
	margin-right: 5px;
	text-align: center; 
}

nav.horizontal li a {
	display: block; 
	background-color: red;
	color: white; 
	border-radius: 30px / 25px;
	-moz-border-radius: 30px / 25px;
	-webkit-border-radius: 30px / 25px;
	text-decoration: none; 
}

nav.horizontal li a:hover {
	background-color: rgb(255,101,101);
	color: black; 
}

nav.vertical{ 
	clear: left;
	float: left;
	width: 200px;
}

nav.vertical li{
	list-style-type: none;
	text-indent: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

nav.vertical li a{
	color: white;
	text-decoration: none;
}

nav.vertical li a:hover {
	color: black;
}

#main {
	background-color: rbg (255,211,211);
	float: left; 
	width: 600px;
}

#main > p {
	font-size: 20px;
	margin: 15px;
}

#main img {
	float: right; 
	margin: 15px; 
	width: 350px; 
	border-bottom-left-radius: 350px;
	-moz-border-radius-bottomleft: 350px;
	-webkit-bottom-left-radius: 350px;
}

#main div.coupon {
	border: 5px;
	border-style: dashed;
	float: left;
	width: 170px; 
	height: 150px;
	margin-top: 20px;
	margin-bottom: 20px; 
	margin-left: 10px;
	margin-right: 10px;
	background: white;
	background-image: url('notice.png'), url('slice.png');
	background-position: right bottom, center;
	background-repeat: no-repeat;


	
	
}

#main div.coupon h1 {
	color: white; 
	background: rgb(192,0,0);
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	height: 25px; 
	font-variant: small-caps;
	
}

#main div.coupon p {
	font-size: 14px;
	text-align: center;
	margin: 5px;
	
}

aside {
	float: left; 
	width: 200px; 
}

aside h1 {
	color: rbg(192,0,0);
	font-size: 20px; 
	letter-spacing: 2px;
	font-weight: normal;
	text-align: center;
}

aside li {
	background-color: rgb(255,135,135);
	border-radius: 5px; 
	list-style-type: none;
	margin: 10px; 
	padding: 5px;
}

footer {
	clear: left; 
	margin-left: 200px; 
}

footer address {
	border-top: 1px solid red;
	color: red;
	font-size: 10px;
	font-style: normal;
	text-align: center;
	margin-top: 25px;
	padding-bottom: 20px;
}