body {
	background-image: url("bg.jpg");
	background-repeat: repeat;
}

.container {
	background-color: rgb(255, 253, 242);

	border: 1px solid rgb(163, 161, 153);
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(252, 252, 252);
	border: 1px solid rgb(163, 161, 153);
}

li {
    float: left;
	text-align: center;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(201, 201, 201);
	text-decoration: none;
	color: black;
}

.active {
    background-color: rgb(201, 201, 201);
}
	
.jumbotron {
	margin-top: 15px;
	padding: 5px !important;
	padding-left: 15px !important;
	background-color: rgb(255, 253, 242) !important;
}

#LMbutton {
	background-color: rgb(170, 170, 170) !important;
	border-color: rgb(170, 170, 170) !important;
}