@font-face {
	font-family:'CrimsonRoman';
	src: url('fonts/Crimson-fontfacekit/Crimson-Roman-webfont.eot');
	src: url('fonts/Crimson-fontfacekit/Crimson-Roman-webfont/eot?#iefix') format('embedded-opentype'),
	url ('fonts/Crimson-fontfacekit/Crimson-Roman-webfont.woff') format('woff'),
	url('fonts/Crimson-fontfacekit/Crimson-Roman-webfont.ttf') format('truetype'),
	url ('fonts/Crimson-fontfacekit/Crimson-Roman-webfont.svg#CrimsonRoman') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "CrimsonRoman", gerogia, times, serif;
	background-color: #fff;
	margin:29px 10% 0; 
	background-image: url(grid_24px.png);
}

h2 {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	font-variant: small-caps;
	word-spacing: .5em;
	letter-spacing: .6em;
}

h1 {
	font-size: 60px;
	line-height: 96px;
	font-family:"Pinyon Script", cursive;
	margin: 4px 0 -4px;
	text-align: center;
	font-weight: normal;
	position: relative;
}

p {
	font-size: 18px;
	line-height: 24px;
}

blockquote {
	margin: 0px 20%;
}

q {
	font-size: 18px; 
	font-style: italic;
	line-height: 24px;
}

h1 + p::first-letter {
	font-family: times, serif;
	font-size: 90px;
	float: left;
	border: 1px solid;
	line-height: .65;
	padding: .085em 3px 0 0;
}

h1 + p::first-line {
	font-variant: small-caps;
	letter-spacing: .15em;
}

p + p { text-indent: 14px; }

q::before { content: "\201C" }

q::after { content: "\201D" }