/*
	New Perspectives on HTML and CSS
	Tutorial 4
	Case Problem 3

	Trail Map Style Sheet
	Author: Rebecca Scott
	Date:   2016-11-06

	Filename:         map.css
	Supporting Files: 

*/

nav, section, figure, figcaption {
	display: block; 
}

#time{
	display: inline;
	color: yellow;
}

* {
	margin: 0px;
	padding: 0px; 
}

body {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0px;
	padding: 0px; 	
}

#page {
	background-color: rgb(255,255,128);
	background-image: url(bluebar.png);
	background-repeat: repeat-y;
	background-position: left; 
	border: 15px ridge rgb(70,76,222);
	border-radius: 50px;
	width: 900px; 
	height: 750px; 
	margin: 10px auto 200px auto;
}

nav.vertical {
	float: left; 
	width: 230px;
}

nav.vertical li {
	list-style: none; 
	margin: 25px 20px;
}

nav.vertical li a {
	color: white; 
	text-decoration: none;
}

nav.vertical li a:hover {
	color: yellow; 
	text-decoration: none;
}


#summary {
	float: left;
	margin-left: 30px;
	width: 600px;
}

#summary h1 {
	color: rgb(70,76,222);
	font-size: 24px; 
	font-weight: normal;
	letter-spacing: 5px;
	margin: 20px;
}

#summary p {
	margin: 10px;
}

#map {
	position: relative; 
	background-color: white; 
	background: url('lpmap.jpg') top left no-repeat;
	border: 1px solid black;
	float: left; 
	margin-left: 30px; 
	width: 600px; 
	height: 294px;
}

figure {
	background-color: rgb(70,76,222);
	color: white; 
	width: 150px; 
	border-radius: 15px; 
	position: absolute;
	z-index: 1;
	clip: rect(auto,20px,20px,auto);
}

figure:hover {
	background-color: rgb(70,76,222);
	color: white;
	width: 150px; 
	border-radius: 15px;
	position: absolute; 
	z-index: 2;
	clip: auto;
}

figure figcaption {
	font-size: 12px;
	margin: 10px; 
}

#point0 {
	left: 560px; 
	top: 60px; 
}

#point1 {
	left: 277px;
	top: 90px;
}

#point2 {
	left: 175px;
	top: 0px;
}

#point3 {
	left: 110px;
	top: 115px;
}

#point4 {
	left: 55px;
	top: 165px;
}

#point5 {
	left: 5px;
	top: 180px;
}

#point6 {
	left: 15px; 
	top: 222px;
}

#point7 {
	left: 50px;
	top: 245px;
}

#point8 {
	left: 100px;
	top: 245px;
}

#point9 {
	left: 99px;
	top: 220px;
}