* { margin: 0; padding: 0; }

header {
    background-color:antiquewhite;
    color: lightsalmon;
    display: block;
    width: 100%; 
    text-align: center;
}

body {
    font-family: fantasy;
    background-color: blanchedalmond;
}
#wrapper {
    width: 960px; 
    margin: 0 auto; 
}

#col1 {
    width: 100%;
    display: inline-block;
    background-color:aquamarine;
    text-align: center;
    
}
#col1 img {
    display: block;
    margin: auto;
    width: 40%;
    padding: 10px;
}

#col2 {
    width: 50%;
    background-color: teal;
    display: inline-block;
    margin-right: -4px;
}

#col3 {
    width: 50%; 
    background-color: coral;
    display: inline-block;
    margin-right: -4px;
}

p {
    padding: 10px;
}

footer {
    text-align: center;
    color: dimgrey;
}

@media screen and (max-width: 450px) {
    #wrapper{ width: 100%; }
    #col1 img {width: 100%; height: auto;}
    #col2, col3 {width: 100%;}
}